@model Employement_Project_MVC.Models.Employer_Detail

@{
    ViewData["Title"] = "Create";
}

<!--code to create the database in employer details table-->

<h1>Create</h1>

<h4>Employer_Detail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employer_name" class="control-label"></label>
                <input asp-for="Employer_name" class="form-control" />
                <span asp-validation-for="Employer_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_of_establishment" class="control-label"></label>
                <input asp-for="Date_of_establishment" class="form-control" />
                <span asp-validation-for="Date_of_establishment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address_of_employer" class="control-label"></label>
                <input asp-for="Address_of_employer" class="form-control" />
                <span asp-validation-for="Address_of_employer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
