@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Maybe you’ve just graduated from university and are struggling to figure out what your dream job might be. Or perhaps you are already working a 9-5 job but are feeling unfulfilled in your current role. Landing your dream job may seem like a daunting task but it can be done with motivation and persistence. You will first need to identify your dream job or the qualities of your dream role and then focus on getting the necessary skills and education for the job so that you can then apply for your dream job and improve your chances of finally landing it.</a>.</p>
</div>
